In [1]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('raw_data.csv')

In [3]:
df.head()

,Title,Year,Director,Runtime,Parental Guide,Rating,Vote,Release Date,Budget,Oscar,Awards
0,It Ends with Us,2024,Justin Baldoni,2h 10m,PG-13,7.0,11K,"['August 9, 2024 ', 'India)']","$25,000,000",0,0
1,Kingdom of the Planet of the Apes,2024,Wes Ball,2h 25m,PG-13,7.0,103K,"['May 10, 2024 ', 'India)']","$160,000,000",Awards,3 nominations
2,Saturday Night,2024,Jason Reitman,1h 49m,NaN,NaN,NaN,"['October 11, 2024 ', 'United States)']",NaN,0,0
3,The Instigators,2024,Doug Liman,1h 41m,R,6.2,12K,"['August 9, 2024 ', 'India)']",NaN,0,0
4,A Quiet Place: Day One,2024,Michael Sarnoski,1h 39m,PG-13,6.4,74K,"['June 28, 2024 ', 'India)']","$67,000,000",Awards,1 win & 1 nomination

In [4]:
df.shape

(1900, 11)

In [5]:
# Won primetime emmys
df['emmy_won'] = df['Oscar'].apply(lambda x: int(''.join(filter(str.isdigit, str(x)))) if 'Won' in str(x) and ('Primetime Emmy' in str(x) or 'Primetime Emmys' in str(x)) else 0)

# Nominated for primetime emmys
df['emmy_nomination'] = df['Oscar'].apply(lambda x: int(''.join(filter(str.isdigit, str(x)))) if 'Nominated' in str(x) and ('Primetime Emmy' in str(x) or 'Primetime Emmys' in str(x)) else 0)

# nominated for BAFTA awards
df['bafta_nominated'] = df['Oscar'].apply(lambda x: int(''.join(filter(str.isdigit, str(x)))) if 'Nominated' in str(x) and ('BAFTA Award' in str(x) or 'BAFTA Awards' in str(x)) else 0)

# won BAFTA awards
df['bafta_won'] = df['Oscar'].apply(lambda x: int(''.join(filter(str.isdigit, str(x)))) if 'Won' in str(x) and ('BAFTA Award' in str(x) or 'BAFTA Awards' in str(x)) else 0)

# oscar won
df['oscar_won'] = df['Oscar'].apply(lambda x: int(''.join(filter(str.isdigit, str(x)))) if 'Won' in str(x) and ('Oscar' in str(x) or 'Oscars' in str(x)) else 0)

# oscar nomination
df['oscar_nomination'] = df['Oscar'].apply(lambda x: int(''.join(filter(str.isdigit, str(x)))) if 'Nominated for' in str(x) and ('Oscar' in str(x) or 'Oscars' in str(x)) else 0)

In [6]:
df.head()

,Title,Year,Director,Runtime,Parental Guide,Rating,Vote,Release Date,Budget,Oscar,Awards,emmy_won,emmy_nomination,bafta_nominated,bafta_won,oscar_won,oscar_nomination
0,It Ends with Us,2024,Justin Baldoni,2h 10m,PG-13,7.0,11K,"['August 9, 2024 ', 'India)']","$25,000,000",0,0,0,0,0,0,0,0
1,Kingdom of the Planet of the Apes,2024,Wes Ball,2h 25m,PG-13,7.0,103K,"['May 10, 2024 ', 'India)']","$160,000,000",Awards,3 nominations,0,0,0,0,0,0
2,Saturday Night,2024,Jason Reitman,1h 49m,NaN,NaN,NaN,"['October 11, 2024 ', 'United States)']",NaN,0,0,0,0,0,0,0,0
3,The Instigators,2024,Doug Liman,1h 41m,R,6.2,12K,"['August 9, 2024 ', 'India)']",NaN,0,0,0,0,0,0,0,0
4,A Quiet Place: Day One,2024,Michael Sarnoski,1h 39m,PG-13,6.4,74K,"['June 28, 2024 ', 'India)']","$67,000,000",Awards,1 win & 1 nomination,0,0,0,0,0,0

In [7]:
# release date
df['Release Date'] = df['Release Date'].apply(lambda x: re.sub(r"[\[\]']","",x).split(',')[0].strip() if isinstance(x, str) else '')

In [8]:
# extract wins  from award column
def extract_wins(text):
    wins_match = re.search(r'(\d+) win(s?)', text)
    if wins_match:
        return int(wins_match.group(1))
    else:
        return 0

# extract nomination  from award column
def extract_nominations(text):
    nominations_match = re.search(r'(\d+) nomination(s?)', text)
    if nominations_match:
        return int(nominations_match.group(1))
    else:
        return 0
        
# awards won
df['other_awards_won'] = df['Awards'].apply(extract_nominations)

# awards nomination 
df['other_award_nomiantion'] = df['Awards'].apply(extract_wins)

In [9]:
df.head()

,Title,Year,Director,Runtime,Parental Guide,Rating,Vote,Release Date,Budget,Oscar,Awards,emmy_won,emmy_nomination,bafta_nominated,bafta_won,oscar_won,oscar_nomination,other_awards_won,other_award_nomiantion
0,It Ends with Us,2024,Justin Baldoni,2h 10m,PG-13,7.0,11K,August 9,"$25,000,000",0,0,0,0,0,0,0,0,0,0
1,Kingdom of the Planet of the Apes,2024,Wes Ball,2h 25m,PG-13,7.0,103K,May 10,"$160,000,000",Awards,3 nominations,0,0,0,0,0,0,3,0
2,Saturday Night,2024,Jason Reitman,1h 49m,NaN,NaN,NaN,October 11,NaN,0,0,0,0,0,0,0,0,0,0
3,The Instigators,2024,Doug Liman,1h 41m,R,6.2,12K,August 9,NaN,0,0,0,0,0,0,0,0,0,0
4,A Quiet Place: Day One,2024,Michael Sarnoski,1h 39m,PG-13,6.4,74K,June 28,"$67,000,000",Awards,1 win & 1 nomination,0,0,0,0,0,0,1,1

In [10]:
df = df.drop(['Oscar', 'Awards'], axis=1)

In [11]:
df[df.duplicated()].sum()

Title                       0
Year                        0
Director                    0
Runtime                     0
Parental Guide              0
Rating                    0.0
Vote                        0
Release Date                0
Budget                      0
emmy_won                    0
emmy_nomination             0
bafta_nominated             0
bafta_won                   0
oscar_won                   0
oscar_nomination            0
other_awards_won            0
other_award_nomiantion      0
dtype: object

In [12]:
df.isnull().sum()

Title                       0
Year                        0
Director                    0
Runtime                    55
Parental Guide            103
Rating                     50
Vote                       50
Release Date                0
Budget                    487
emmy_won                    0
emmy_nomination             0
bafta_nominated             0
bafta_won                   0
oscar_won                   0
oscar_nomination            0
other_awards_won            0
other_award_nomiantion      0
dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
df.isnull().sum()

Title                     0
Year                      0
Director                  0
Runtime                   0
Parental Guide            0
Rating                    0
Vote                      0
Release Date              0
Budget                    0
emmy_won                  0
emmy_nomination           0
bafta_nominated           0
bafta_won                 0
oscar_won                 0
oscar_nomination          0
other_awards_won          0
other_award_nomiantion    0
dtype: int64

In [15]:
df.shape

(1368, 17)

In [16]:
df.to_csv('cleaned_data.csv', index=False, header=True)